@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Montserrat", sans-serif;
    line-height: 1.5;
}

h1 {
    font-weight: 700;
    /* 4rem = 40px (4 * 10px) */
    font-size: 3.5rem;
}
  
h2 {
    font-weight: 700;
    font-size: 2.25rem;
}
  
h3 {
    font-weight: 600;
    font-size: 1.5rem;
}
  
h4 {
    font-size: 1.5rem;
}
  
h5 {
    font-size: 1.5rem;
}
  
h6 {
    font-size: 1.25rem;
}
  
p {
    margin-bottom: 1rem;
}

p {
    font-weight: 400;
}

li, a, button {
    font-weight: 500;
    font-size: 1rem;
    color: #ecf0f1;
    text-decoration: none;
    text-transform: uppercase;
}

/* Site Header */
header {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1% 10%;
    background-color: #24252a;
    position: fixed;
}

/* Header Logo */
.logo {
    margin-right: auto;
}

.logotype {
    display: inline-block;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 24px;
    color: #ecf0f1;
    text-decoration: none;
}

.jenks {
    font-weight: 700;
}

/* Header Navigation */
.nav-links {
    list-style: none;
}

.nav-links li {
    display: inline-block;
    padding: 0px 30px;
}

.nav-links li a {
    transition: all 0.3s ease 0s;
}

.nav-links li a:hover {
    color: #0088a9;
    text-decoration: underline;
}

.header-button {
    margin-left: 20px;
    padding: 9px 25px;
    background: rgba(0,136,169,1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: rgba(0,136,169,0.8);
}

/* Hero */
.banner-area {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0,136,169,0.85), rgba(0, 59, 39, 0.85)), url("../images/Keyboard.jpg");
    background-size: cover;
    background-position: center;
}

.banner-content-area {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-content-container {
    color:#ecf0f1;
}

/* Main Content */
.main {
    display: flex;
    justify-content: center;
    width: 100%;
    display: inline-block;
    margin: 2rem auto;
}

/* Section 1: Services */
.services {
    width: 100%;
    height: inherit;
}

.what-i-do {
    display: flex;
    justify-content: center;
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-color: #ecf0f1;
}

.services-items {
    width: 100%;
    height: auto;
    background-color: #ecf0f1;
    color: black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.services-items h2, h3, p {
    color: black;
    display: flex;
    justify-content: center;
}

.item-container {
    padding: 0 20px 80px 30px;
}

.item-heading {
    color: #0088a9;
}

.item-description {
    text-align: center;
}

.center {
    display: block;
    margin: auto auto 10px auto;
}

/* Section 2: About */
.about-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: auto;
    background-color: black;
    padding: 1.5rem;
}

.about-section p {
    color:#ecf0f1;
}

.portrait {
    margin: 2rem;
    width: 25%;
    height: 25%;
    border-radius: 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.about-heading {
    color:#ecf0f1;
    padding: 0 0 1.5rem 0
}

.about-container {
    padding: 2.5rem 0 2.5rem 3rem;
    width: 50%;
}

/* Section 3: Projects */
.projects {
    height: auto;
    width: 100%;
    background-color: #24252a;
    flex: 4;
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
}

/* Section heading for Projects */
.projects-heading {
    text-align: center;
    padding-top: 3rem;
    color: #ecf0f1;
    background-color: #24252a;
}

/* Featured portfolio project card (larger) */
.card-feature {
    flex: 1 0 100%;
    padding: 1.5rem;
    /* when the screen resizes, make it so our columns don't jump in size */
    transition: flex-basis 500ms linear;
    margin-bottom: 1.5rem;
    text-align: left;
    cursor: pointer;
}

/* All other portfolio project cards */
.card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 100%;
    border-style: solid;
    border-width: 7px;
    border-radius: 20px;
    border-color: #0088a9;
    padding: 12.5% 0 12.5% 0;
    background-color: #ecf0f1;
    cursor: pointer;
}

.card:hover {
  box-shadow: inset 0px 0px 8px #6fd1ff, 0 0 15px #6fd1ff;
}

/* Content area for the card */
.card-body {
    position: relative;
    background-color: #0088a9;
    width: 50%;
    padding-top: 0.5rem;
    line-height: 1.5rem;
}

.card-header {
    color: #ecf0f1;
    text-align: left;
    position: relative;
    padding: 0.5rem 1rem;
    transition: all 0.5s ease-in-out;
}

.card-paragraph {
    color: #ecf0f1;
    text-align: left;
}

/* Portfolio Card Images */
#card-1 {
    background-image: url("../images/Up-North.jpg");
    background-size: cover;
    background-position: center;
}

#card-2 {
    background-image: url("../images/MM-Website.jpg");
    background-size: cover;
    background-position: center;
}

#card-3 {
    background-image: url("../images/Oaken-Shield.jpg");
    background-size: cover;
    background-position: center;
}

#card-4 {
    background-image: url("../images/Shakespeare-Hamlet-Poster.jpg");
    background-size: cover;
    background-position: center;
}

#card-5 {
    background-image: url("../images/CADL-Student-Success_Visual-Identity_Tile.jpg");
    background-size: cover;
    background-position: center;
}


/* create our main grid with flexbox, use negative margins to offset the padding on the .card-column class */
.row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: -1.5rem;
    margin-right: -1.5rem;
  }
  
.justify-center {
    justify-content: center;
}
  
/* using a mobile-first approach, set base column width to be 100% and we'll update it using media queries for larger screen sizes */
.card-column {
    flex: 1 0 50%;
    padding: 1.5rem;
    /* when the screen resizes, make it so our columns don't jump in size */
    transition: flex-basis 500ms linear;
    margin-bottom: 1.5rem;
}

/* Section 4: Contact */
.contact {
    height: auto;
    text-align: center;
    color: #ecf0f1;
    background-color: black;
    padding: 2.5rem 0 2.5rem;
}

.email {
    color: black;
}

/* Footer */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 10%;
    background-color: #0088a9;
}

#copyright {
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color: #ecf0f1;
}

/* media query for larger screens */
@media screen and (max-width: 992px) {
}

/* media query for smaller screens */
@media screen and (max-width: 768px) {

    .banner-area {
        height: 75vh;
    }

    .services-items {
        flex-wrap: wrap;
    }

    .about-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
    }

    .portrait {
        width: 60%;
    }

    .about-heading {
        padding: 1rem 1rem 1rem 0;
    }

    .card-column {
    flex: 1 0 100%;
    padding: 1.5rem;
    /* when the screen resizes, make it so our columns don't jump in size */
    transition: flex-basis 500ms linear;
    margin-bottom: 1.5rem;
    }

    }