@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1 {
    font-family: "Montserrat", sans-serif;
    font-weight: 00;
    font-size: 50px;
    text-decoration: none;
}

h2 {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 30px;
    text-decoration: none;
}

h3 {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 18px;
    text-decoration: none;
}

p {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
}

li, a, button {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #ecf0f1;
    text-decoration: none;
    text-transform: uppercase;
}

/* Site Header */
header {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
    background-color: #24252a;
    /* position: fixed; */
}

/* Logo */
.logo {
    cursor: pointer;
    margin-right: auto;
}

.logotype {
    display: inline-block;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 24px;
    color: #ecf0f1;
    text-decoration: none;
}

.jenks {
    font-weight: 700;
}

/* Header Navigation */
.nav-links {
    list-style: none;
}

.nav-links li {
    display: inline-block;
    padding: 0px 30px;
}

.nav-links li a {
    transition: all 0.3s ease 0s;
}

.nav-links li a:hover {
    color: #0088a9;
}

.header-button {
    margin-left: 20px;
    padding: 9px 25px;
    background: rgba(0,136,169,1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: rgba(0,136,169,0.8);
}

/* Hero */
.banner-area {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background: rgba(0,136,169,1);
}

.banner-content-area {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Main Content */
.main-content-area {
    display: flex;
    justify-content: center;
    width: 100%;
    display: inline-block;
}

/* Section 1: Services */
.services {
    width: 100%;
    height: inherit;
}

.what-i-do {
    display: flex;
    justify-content: center;
    margin-top: 60px;
    margin-bottom: 60px;
}

.services-items {
    width: 100%;
    height: auto;
    background-color: #ecf0f1;
    color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.services-items h2, h3, p {
    color: black;
    display: flex;
    justify-content: center;
}

.item-container {
    padding: 0 20px 80px 30px;
}

.item-heading {
    color: #0088a9;
}

.item-description {
    text-align: center;
}

.center {
    display: block;
    margin: auto auto 10px auto;

}

/* Section 2: About */
.about-section {
    width: 100%;
    height: auto;
    background-color: black;
}

.about-section p {
    color:#ecf0f1;
}

.about-heading {
    display: flex;
    justify-content: flex-start;
    color:#ecf0f1;
    padding: 150px 60px 0 60px;
}

.about-container {
    padding: 30px 60px 150px 60px;
    width: 50%;
    display: flex;
    align-items: flex-start;
}

/* Section 3: Projects */
.portfolio-projects {
    height: 800px;
    width: 100%;
    background-color: #24252a;
}

.projects-heading {
    display: flex;
    justify-content: center;
    padding: 60px 0 60px 0;
    color: #ecf0f1;
}

.portfolio-projects h3 {
    color: #0088a9;
}

/* Section 4: Contact */
#contact {
    width: 100%;
    height: 150px;
}

/* Footer */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 10%;
    background-color: #0088a9;
}

/* Footer Navigation */
.footer-nav ul li {
    display: flex;
    justify-content: space-around;
}

#copyright {
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: #ecf0f1;
}